*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sample-text-card{
    margin: 0px 100px;
    font-family: sans-serif;
    color: white;
}

#sample-text-card h1{
    font-size: 65px;
}

#sample-text-card p{
    font-size: 14px;
}

.button-wrapper a{
    padding: 15px;
    width: 200px;
    color: white;
    box-shadow: 0px 3px 6px rgb(0,14,53);
}
.button-wrapper a:hover {
    background-color: #5a514d; 
    opacity: 1; 
}

.register{
    background-color: #FF4E00;
    margin: 8px;
    border: 1px solid #8B2B00;
}

.login{
    background-color: #FFB114;
    border: 1px solid #543800; 
}

.card{
    font-family: sans-serif;
}

.card .form-control{
    margin: 10px 0px;
    box-shadow: 0px 3px 6px rgb(0,14,53);
}

.card .card-title{
    color: white;
}

.card button:hover {
    background-color: #5a514d; 
    opacity: 1; 
}

.card button{
    background-color: #FF4E00;
    border: 1px solid #8B2B00;
    color: white;
    width: 200px;
    margin: 10px 0px;
    box-shadow: 0px 3px 6px rgb(0,14,53);
}

#errorcard{
    box-shadow: 0px 3px 6px rgb(0,14,53);
}

.errormsg{
    font-size: 15px;
}